body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section__pic-container {
    margin: 2vh 0;
    position: relative;
}

.section__pic-container img {
    width: 50%;  /* Adjust image to take full width */
    height: auto;
    border-radius: 10%;
}

.section__pic-container img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    box-shadow: 0 8px 20px rgba(191, 12, 12, 0.3); /* Darker shadow on hover */
}

.education img {
    width: 8%;
}

@media (max-width: 1008px) {
    #profile .col-lg-6 {
        text-align: center;
        padding: 0 15px; /* Add padding to avoid content touching edges */
    }

    #about .col-7, #about .col-5 {
        text-align: center;
        padding: 0 15px;
    }

    #skills .col-6, #skills .col-5 {
        margin-bottom: 20px;
        padding: 0 15px; /* Padding for smaller screens */
    }

    .navbar-nav {
        text-align: center; /* Center-align navbar items */
    }
}

@media (max-width: 576px) {
    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .section__pic-container img {
        width: 60%; /* Resize image on small screens */
    }

    .row-cols-1, .row-cols-md-2, .g-4 {
        margin-left: 0;
        margin-right: 0;
    }
}

footer {
    background-color: #f8f9fa;
}

.text-start {
    text-align: end;
    max-width: 100%;
}
